*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
        
}
.intro_bg{
    background-color:gray;
    width:100%;
    height: 850px;
    opacity:0.8;
}
.header{
    display:flex;
    width:1280px;
    margin:auto;
    height:86px;
}
.wrapper{
    margin: 120px auto;
    max-width: 400px;
    height: auto;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 25px;
}
.wrapper header{
    font-size: 30px;
    font-weight: 600;
}
.wrapper .searchArea{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}
.searchArea input{
    width: 85%;
    height: 100%;
    outline: none;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
}
.searchArea button{
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #8E49E8;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}
.searchArea button.active{
    opacity: 1;
    pointer-events: auto;
}
.nav{
    display:flex;
    justify-content: flex-end;
    line-height: 86px;
    width:1300px;
}

.nav > li{
    margin-left:84px;
}

.nav > li > a{
    color:#fff;
}

.planlist{
    background:#fff;
    width: 800px;
    margin: -20px auto 132px -25px;
    max-width:500px;
    width: 100%;
    border-radius: 5px;
    padding:25px;
}

.planlist{
    max-height: 250px;
    overflow-y: auto;
}

.planlist > li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius : 3px;
    margin-bottom : 8px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.planlist > li > span{
    position: absolute;
    right : -45px;
    color: #fff;
    width: 45px;
    text-align:center;
    background : #e74c3c;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.planlist > li:hover > span{
    right: 0px;
}

.footer{
    display: flex;
    width:100%;
    margin-top: -130px;
    justify-content: space-between;
    align-items: center;
}

.footer > button{
    border: none;
    outline: none;
    background: #8E49E8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;
    opacity: 0.6;
    pointer-events: none;
}
.footer button.active{
    opacity: 1;
    pointer-events: auto;
}

.bg{
    background:white;
    font-size: 20px;
    padding-left: 730px;
}

.nav1{
    display:flex;
    background:gray;
    justify-content: center;
}
.nav1 > li{
    margin-left:30px;
    font-size:30px;
}
